<div *ngIf='isSignedIn'>
    <app-navigation-bar-for-signed-in-user></app-navigation-bar-for-signed-in-user>
</div>
<div *ngIf='!isSignedIn'>
    <app-navigation-bar></app-navigation-bar>
</div>
<div class="bg-dark">
    <div class="container py-5">
        <div *ngFor="let feed of feeds; let i=index">
            <div *ngIf="feed.slug === slug">
                <h1 class="text-light py-3">{{ feed.title }}</h1>
                <div class="d-flex">
                    <div class="align-self-start">
                        <img [src]="feed.author.image" class="rounded-circle p-1" width="50px" height="50px">
                    </div>
                    <div class="align-self-start px-2">
                        <a routerLink="/{{feed.author.username}}"class="align-self-start text-light">{{ feed.author.username }}</a>
                        <small><div class="align-self-end text-secondary">{{ feed.updatedAt | date }}</div></small>
                    </div>
                    <div *ngIf='isSignedIn'>
                        <div *ngIf="!(feed.author.username === getLoggedInUsername())" class="ml-4   mt-2">
                            <button class="btn btn-outline-secondary btn-sm">
                                <i class="fas fa-plus mr-1"></i> Follow {{ feed.author.username }}
                            </button>
                            <button class="ml-1 btn btn-outline-success btn-sm">
                                <i class="fas fa-heart mr-1"></i>Favorite Article ({{ feed.favoritesCount }})
                            </button>
                        </div>
                        <div *ngIf="feed.author.username === getLoggedInUsername()" class="ml-4 mt-2">
                            <button (click)="onEditArticle(feed.slug)" class="btn btn-outline-secondary btn-sm">
                                <i class="fas fa-pencil-alt"></i> Edit Article
                            </button>
                            <button (click)="onDeleteArticle(feed.slug)" class="ml-1 btn btn-outline-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete Article
                            </button>
                        </div>
                    </div>
                    <div *ngIf='!isSignedIn'>
                        <button class="btn btn-outline-secondary btn-sm">
                                <i class="fas fa-plus mr-1"></i> Follow {{ feed.author.username }}
                        </button>
                        <button class="ml-1 btn btn-outline-success btn-sm">
                                <i class="fas fa-heart mr-1"></i>Favorite Article ({{ feed.favoritesCount }})
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
