<div class="container my-5">
  <div class="row">
    <div class="col-md-8">
      <ul class="nav nav-pills">
        
        <div *ngIf='isSignedIn'>
          <li class="nav-item">
            <a routerLink class="nav-link tabActive yourFeedTab" (click)="onSelectYourFeed()">Your Feed</a>
          </li>
        </div>
        
        <li class="nav-item">
          <a routerLink class="nav-link tabInactive globalFeedTab" (click)="onSelectGlobalFeed()">Global Feed</a>
        </li>
      
      </ul>
      <br>
      
      <div *ngIf="!isGlobalFeedSelected">
        <app-your-feed></app-your-feed>
      </div>
      
      <div *ngIf="isGlobalFeedSelected">
        <div *ngFor="let feed of feeds| paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
          <div class="d-flex">
            <div class="align-self-start">
              <img [src]="feed.author.image" class="rounded-circle p-1" width="50px" height="50px">
            </div>
            <div class="align-self-start px-2">
              <a [routerLink]= "[feed.author.username]" class="align-self-start text-success">{{ feed.author.username }}</a>
              <small><div class="align-self-end text-secondary">{{ feed.updatedAt| date }}</div></small>
            </div>
            <small class="ml-auto"> 
              <button class="btn btn-outline-success" id="favoritesCountButton" (click)="onLikeArticle(feed)">
                <small><i class="fas fa-heart mr-1"></i>{{ feeds[i].favoritesCount }}
                </small> 
              </button>
            </small>
          </div>
          <h4 class="display-5 pt-3 px-2">{{ feed.title }}</h4>
          <p class="text-secondary px-2 pb-2 font-weight-light">{{ feed.body }}</p>
          <small><a [routerLink]="['/article', feed.slug]" class="text-secondary px-2">Read more...</a></small>
          <hr>
        </div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>

    <div class="col-md-4">
      <div class="container bg-light ml-3 mt-2 mb-5">
        <h6 class="pt-3 pb-3">Popular tags</h6>
          <div *ngFor="let tag of tagList; let i=index">
            <div *ngIf="i < (tagList.length)/2">
              <button class="d-inline btn btn-secondary btn-sm m-1" style="border-radius: 10rem">{{ tagList[i] }}</button>
              <button *ngIf="(tagList.length) % 2 === 0 || i < ((tagList.length) / 2) - 1" class="d-inline btn btn-secondary btn-sm m-1" style="border-radius: 10rem">{{ tagList[tagList.length - (i+1)] }}</button>
            </div>
          </div>
      </div>
    </div>
  
  </div>
</div>


